.search {
    width: 218px;
    border-right: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 10px 8px 0px #dfdfdf;
    animation: Open ease-in .5s;
}

@keyframes Open {
    from {
        opacity: 1;
        width: 0;
    }

    to {
        opacity: 1;
        width: 218px;
    }
}